/*
   #############################################################################################
   ##                         https://gitlab.com/ghahremany                                   ##
   ##              eMail ghahremany.mj@gmail.com & info@ghahremany.ir                         ##
   ##                Tell +989396106510 Web http://ghahremany.ir                              ##
   ##        .__           .__                                                   .__          ##
   ##   ____ |  |__ _____  |  |_________   ____   _____ _____    ____ ___.__.    |__|______   ##
   ##  / ___\|  |  \\__  \ |  |  \_  __ \_/ __ \ /     \\__  \  /    <   |  |    |  \_  __ \  ##
   ## / /_/  >   Y  \/ __ \|   Y  \  | \/\  ___/|  Y Y  \/ __ \|   |  \___  |    |  ||  | \/  ##
   ## \___  /|___|  (____  /___|  /__|    \___  >__|_|  (____  /___|  / ____| /\ |__||__|     ##
   ##/_____/      \/     \/     \/            \/      \/     \/     \/\/      \/              ##
   ############################################################################################# 

Theme Name: Hostler_virtual_shop
Theme URI: https://gitlab.com/ghahremany
Author: Mohammad Javad GHahremany
Author URI: https://ghahremany.ir
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.art .sec {
margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

.art .sec{	display: block;
}
@font-face {
	font-family: 'BYekan';
	src: url('font/BYekan.eot?#') format('eot'), /* IE6–8 */
	url('font/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('font/BYekan.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

*::-moz-selection {
	background-color: #BD1A12;
	color: #fff;
	text-shadow: none;
}
body {
	background: #FAFAFA;
	color: #ddd;
	direction: rtl;
	font: 12px Tahoma;
	height: 100%;
	width: 100%;
}

ol, ul {
	list-style: none;
	padding: 0;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
}



a {
	text-decoration: none;
	transition: all 200ms ease-out 0ms;
	-webkit-transition: all 200ms ease-out 0ms;
	-moz-transition: all 200ms ease-out 0ms;
	-o-transition: all 200ms ease-out 0ms;
	color: #fff;
	
}

a:hover {
	text-shadow: 0 2px 1px #000;
}

.sprite {
	background: url('images/sprite.png');
	display: block;
}

.sprite.arrow_orange {
	background-position: 0px -37px;
	width: 28px;
	height: 27px;
}

.sprite.arrow_blue {
	background-position: 0px 0px;
	width: 28px;
	height: 27px;
}

.sprite.big_cart {
	background-position: 0px -74px;
	width: 81px;
	height: 81px;
}

.sprite.check {
	background-position: 0px -165px;
	width: 18px;
	height: 18px;
}

.sprite.yahoo {
	background-position: 0px -193px;
	width: 15px;
	height: 16px;
}

.wrap {
	width: 993px;
	margin: 0 auto;
	height: auto;
}

header {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 40px;
}

header .heading {
	width: 835px;
	height: 102px;
	text-align: center;
	background: url('images/top_heading.jpg') no-repeat;
	margin: 0 auto;
	color: #818181;
	padding-top: 5px;
}

header .logo {

	margin: -50px auto 0;
	text-indent: -9999px;
}

.logo_img {
	display: none;
}

.top_contact {
	position: absolute;
	right: 5px;
	top: 90px;
	height: auto;
	width: 208px;
}

.top_contact > div {
	background-color: #fff;
	float: right;
	height: 25px;
}

.top_contact .yahoo {
	margin: 5px;
} 

.top_contact a {
	background: #c71e17;
	padding: 5px;
	display: table;
	height: 25px;
}

.top_buy {
	display: table;
	position: absolute;
	left: 9px;
	top: 60px;
	width: 350px;
	height: auto;
}

.top_buy .big_cart {
	margin-left: -15px;
	float: left;
}

.top_buy #top_buy_button {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BD1A12),
		color-stop(0.5, #DF2C22)
	);
	background-image: -o-linear-gradient(top, #BD1A12 0%, #DF2C22 50%);
	background-image: -moz-linear-gradient(top, #BD1A12 0%, #DF2C22 50%);
	background-image: -webkit-linear-gradient(top, #BD1A12 0%, #DF2C22 50%);
	background-image: -ms-linear-gradient(top, #BD1A12 0%, #DF2C22 50%);
	background-image: linear-gradient(to top, #BD1A12 0%, #DF2C22 50%);
	padding: 5px;
	border-radius: 5px;
	font: 17px BYekan;
	display: table;
	margin-top: 20px;
	float: left;
}

.top_buy #top_buy_button span {
	color: #ffea00;
}

.top_buy ul {
	top: 65px;
	display: block;
	left: 0;
	position: absolute;
}

.top_buy ul li {
	display: inline;
}

.top_buy ul li.ul_sprt {
	margin: 0 4px;
	
}

.top_buy ul li a {
	font-size: 11px;
}

.header_sprt {
	background: url('images/header_sprt.jpg') no-repeat;
	width: 880px;
	height: 35px;
	margin:0 auto 20px;
}

nav {
	border-radius: 8px;
	border-top: 1px solid #67AD27;
	border-bottom: 1px solid #67AD27;
	height: 60px;
	width: 100%;
	text-align: center;
	font: 13px BYekan;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D72822),
		color-stop(0.5, #BC1712)
	);
	background-image: -o-linear-gradient(bottom, #D72822 0%, #BC1712 50%);
	background-image: -moz-linear-gradient(bottom, #D72822 0%, #BC1712 50%);
	background-image: -webkit-linear-gradient(bottom, #D72822 0%, #BC1712 50%);
	background-image: -ms-linear-gradient(bottom, #D72822 0%, #BC1712 50%);
	background-image: linear-gradient(to bottom, #7EB34D 0%, #4EA62E 50%)
}

nav ul {
	width: 100%;
	height: auto;
}

nav li {
	display: inline-block;
}

nav li.ul_sprt {
	margin: 0;
}

li.ul_sprt:before {
	content: "|";
}

nav li a {
	line-height: 60px;
	height: 58px;
	display: inline-block;
	background: transparent;
	padding: 0 12px;
}

nav li a:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #7D0F09),
		color-stop(0.5, #58793A)
	);
	background-image: -o-linear-gradient(bottom, #7D0F09 0%, #A01712 50%);
	background-image: -moz-linear-gradient(bottom, #7D0F09 0%, #A01712 50%);
	background-image: -webkit-linear-gradient(bottom, #7D0F09 0%, #A01712 50%);
	background-image: -ms-linear-gradient(bottom, #7D0F09 0%, #A01712 50%);
	background-image: linear-gradient(to bottom, #2D8900 0%, #42840A 50%)
}

.art {
	width: 100%;
	height: auto;
	margin: 0 auto 40px;
	border-radius: 8px;
	background: #F7F7F7;
}

.art .white {
	background: #F7F7F7;
	color: #818181 !important;
}

.art .title {
	width: 100%;
	height: 40px;
	border-radius: 8px 8px 0 0;
	position: relative;
	margin-bottom: 20px;
}

.art .title .check {
	float: right;
	margin: 10px;
}

.art .title .arrow_orange, .art .title .arrow_blue {
	position: absolute;
	left: 10px;
	top: 7px;
}

.art .title_yellow {
	border-bottom: 1px solid #494948;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFB00),
		color-stop(0.5, #FFBB00)
	);
	background-image: -o-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -moz-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -webkit-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -ms-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: linear-gradient(to bottom, #7C7979 0%, #7B7878 50%);
}

.art .title_blue {
	border-bottom: 1px solid #494948;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #1890BC),
		color-stop(0.5, #156380)
	);
	background-image: -o-linear-gradient(bottom, #1890BC 0%, #156380 50%);
	background-image: -moz-linear-gradient(bottom, #1890BC 0%, #156380 50%);
	background-image: -webkit-linear-gradient(bottom, #1890BC 0%, #156380 50%);
	background-image: -ms-linear-gradient(bottom, #1890BC 0%, #156380 50%);
	background-image: linear-gradient(to bottom, #7C7979 0%, #7B7878 50%);
}

.art .title_white {
	border-bottom: 1px solid #494948;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0.5, #EEEEEE)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EEEEEE 50%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EEEEEE 50%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EEEEEE 50%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EEEEEE 50%);
	background-image: linear-gradient(to bottom, #7C7979 0%, #7B7878 50%);
}

.art .title_white .h4 {
	padding-right: 10px;
}

.art .title .h4 {
	color: #FFFFFF;
	font-weight: bold;
	line-height: 40px;
}

.art .article_inner {
	padding: 0 5px 20px 5px;
	width: 100%;
	height: auto;
}

.art .sec {
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	width: 33%;
	height: 136px;;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(0.5, #D8D8D8)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
	background-image: linear-gradient(to bottom, #FFFFFF 6%, #F0F0F0 178%);
	padding: 10px;
	float: right;
	margin-left: 0.5%;
	margin-bottom: 0.5%;
	color: #818181;
	position: relative;
}

.art .sec:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D8D8D8),
		color-stop(0.5, #FFFFFF),
		color-stop(1, #D8D8D8)
	);
	background-image: -o-linear-gradient(bottom, #D8D8D8 0%, #FFFFFF 50%, #D8D8D8 100%);
	background-image: -moz-linear-gradient(bottom, #D8D8D8 0%, #FFFFFF 50%, #D8D8D8 100%);
	background-image: -webkit-linear-gradient(bottom, #D8D8D8 0%, #FFFFFF 50%, #D8D8D8 100%);
	background-image: -ms-linear-gradient(bottom, #D8D8D8 0%, #FFFFFF 50%, #D8D8D8 100%);
	background-image: linear-gradient(to bottom, #D8D8D8 0%, #FFFFFF 50%, #D8D8D8 100%);
}

.art .sec:nth-of-type(3n) {
	margin-left: 0;
}

.art .sec .h4 {
	font: 18px BYekan;
	margin-bottom: 0px;
}

.art .sec .extra_h4 {
	font: 13px BYekan;
	margin-right: 18px;
}

.art .sec .h4:before {
	content: "»  ";
	font: 20px Arial;
}

.art .sec .price, .art .sec .buy {
	position: absolute;
	left: 10px;
	top: 93px;
	background-color: #7B7878;
	text-align: center;
	padding: 4px 0;
	width: 110px;
	border-radius: 5px;
	color: #fff;
	font: 13px BYekan;
}

.art .sec .buy {
	background: url('images/cart.png') no-repeat 85px center #7ABB4E;
	top: 55px !important;
	padding-right: 18px;
}

.art .sec .buy:hover {
	background-color: #388C1C;
	text-shadow: none !important;
}

.white .article_inner {
	padding: 20px 20px 50px 20px;
}

#dl_connection table, #dl_connection table tr{
	border: 1px solid #E8E8E8;
	width: 100%;
}

#dl_connection table tr td {
	padding: 5px 10px;
	vertical-align: middle;
	position: relative;
}

#dl_connection table tr td.t40 {
	width: 40%;
	text-align: right;
	color: #579416;
	font-weight: bold;
}

#dl_connection table tr td.t40:last-of-type {
	padding: 11px;
}

#dl_connection table tr td.t40 .h4:before {
	content: "⚬";
	color: #f1b90b;
	margin-left: 8px;
	font-size: 15px;
}

#dl_connection table tr td.t40 a {
	background: #7ABB4E;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 0 5px;
	height: 31px;
	width: 100px;
	float: left;
	line-height: 31px;
}

#dl_connection table tr td.t40 a:hover {
	text-shadow: none;
	background: #388C1C;
}

#dl_connection table tr td.t20 {
	width: 20%;
	background: #f3f3f3;
	text-align: center;
}

#amoozesh .article_inner {
	padding: 20px 70px 30px 70px;
}

#amoozesh .sec {
	width: 49%;
	margin-left: 2%;
	margin-bottom: 2%;
	height: 100px;
	background: #f3f3f3;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #FFFFFF inset;
	padding: 10px;
}

#amoozesh .sec .h4, #amoozesh a {
	color: #4DBA35;
	font: 18px BYekan;
	margin-bottom: 5px;
}

.h4, #amoozesh a:hover {
	text-shadow: none;
}

#amoozesh .sec p {
	color: #818181;
	font-size: 11px;
}

#amoozesh .sec .h4:before {
	color: #3c3c3c;
}

#amoozesh .sec:nth-of-type(2n) {
	margin-left: 0;
}

hr.footer_sprt {
	width: 100%;
	height: 1px;
	border: 0 none;
	border-top: 1px dotted #dbdbdb;
	margin-bottom: 30px;
}

footer {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 30px;
}

footer .cright {
	color: #fff;
	float: right;
}

footer .cright a {
	color: #e62925;
	font-weight: bold;
}

.fixed {
	position: fixed;
	padding: 10px;
	text-align: left;
	right: 0;
	top: 200px;
	width: 190px;
	height: auto;
	border-radius: 15px 0 0 15px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFB00),
		color-stop(0.5, #FFBB00)
	);
	background-image: -o-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -moz-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -webkit-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: -ms-linear-gradient(bottom, #FFFB00 0%, #FFBB00 50%);
	background-image: linear-gradient(to bottom, #FFFB00 0%, #FFBB00 50%);
	z-index: 9999;
	font: 13px BYekan;
}

.fixed span.yahoo {
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}

.fixed a:first-of-type:after {
	content: "";
}

.fixed a {
	text-shadow: 0 1px 1px #fdcf00;
	color: #482b00;
	display: inline;
	font: 13px BYekan;
}

.fixed a:hover {
	text-shadow: 0 1px 1px #fff;
}

.fixed a:after {
	content: "«";
	font: 20px/18px Arial;
	margin-right: 8px;
}

.fixed hr {
	height: 1px;
	border: 0 none;
	border-top: 1px solid #dca500;
	box-shadow: 0 0 1px #FEE051;
}

/* Media Queries */

@media (max-width: 1029px) {
	.wrap {
		width: 95%;
	}
	
	header .heading {
		width: 90%;
		height: 102px;
		text-align: center;
		background: url('images/top_heading.jpg') no-repeat;
		background-size: 100% auto;
		margin: 0 auto;
		color: #818181;
		padding-top: 5px;
		font: 11px Tahoma;
	}
	
	.fixed {
		display: none;
	}
	
	.art .sec {
		border: 1px solid #fff;
		border-radius: 8px;
		width: 49%;
		height: 136px;;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #FFFFFF),
			color-stop(0.5, #D8D8D8)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #D8D8D8 50%);
		padding: 10px;
		float: right;
		margin-left: 1%;
		margin-bottom: 1%;
		color: #818181;
		position: relative;
	}
	
	.art .sec:nth-of-type(3n) {
		margin-left: 1%;
	}
	
	.art .sec:nth-of-type(2n) {
		margin-left: 0;
	}
	
	#amoozesh .sec {
		width: 100%;
		margin-left: 0;
		margin-bottom: 2%;
		height: 100px;
		background: #f3f3f3;
		border: 1px solid #e6e6e6;
		border-radius: 2px;
		box-shadow: 0 0 0 1px #FFFFFF inset;
		padding: 10px;
	}
	
	.header_sprt {
		margin:0 auto 20px;
		width: 100%;
		height: 1px;
		border-top: 1px solid #222;
	}
}

@media (max-width: 800px) {
	header .heading {
		display: none;
	}
	
	.top_contact {
	  	height: auto;
	 	position: absolute;
	 	right: 5px;
	  	top: 10px;
	 	width: 208px;
	}
	
	.top_buy {
	 	display: table;
	  	height: auto;
	 	left: 5px;
	 	position: absolute;
	 	top: 10px;
	 	width: 150px;
	}
	
	.top_buy ul {
	  	display: none;
	}
	
	.art .sec {
		border: 1px solid #fff;
		border-radius: 8px;
		width: 99%;
		height: 136px;;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #FFFFFF),
			color-stop(0.5, #D8D8D8)
		);
		background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D8D8D8 50%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #D8D8D8 50%);
		padding: 10px;
		float: right;
		margin: 0 auto 1%;
		color: #818181;
		position: relative;
	}
	
	.art .sec:nth-of-type(3n) {
		margin-left: 0;
	}
	
	.art .sec:nth-of-type(2n) {
		margin-left: 0;
	}
	
	header .logo {
		display: none;
	}
	
	.logo_img {
		width: 99%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	
	#amoozesh .sec {
		width: 100%;
		margin-left: 0;
		margin-bottom: 2%;
		min-height: 90px;
		height: auto;
		background: #f3f3f3;
		border: 1px solid #e6e6e6;
		border-radius: 2px;
		box-shadow: 0 0 0 1px #FFFFFF inset;
		padding: 10px;
	}
}

@media (max-width: 640px) {
	.top_buy ul {
		display: none;
	}
	
	.top_buy .big_cart {
		display: none;
	}
	
	.top_buy #top_buy_button {
		margin: 0;
	}
	
	#amoozesh .article_inner {
		padding: 10px 20px 20px 20px;
	}
}
